#lifestyle-second {
	padding: 125px 0;
	.col-md-6 {
		opacity: 0;
		@include columnBlog;
		img {
			@media (max-width: 992px) {
				margin: 0 auto;
			}
		}
		h5 {
			@include headingFiveBlog;
		}
		h2 {
			@include headingTwoBlog;
		}
		p {
			@include paragraphWidth;
		}
	}
	.col-md-6:first-child {
		@media (max-width: 992px) {
			padding-bottom: 100px;
		}
	}
}
